app-laravel/*.log
app-laravel/.DS_Store
app-laravel/.env
app-laravel/.env.backup
app-laravel/.env.production
app-laravel/.phpactor.json
app-laravel/.phpunit.result.cache
app-laravel/.codex
app-laravel/.cursor/
app-laravel/.idea
app-laravel/.nova
app-laravel/.phpunit.cache
app-laravel/.vscode
app-laravel/.zed
app-laravel/auth.json
app-laravel/node_modules
app-laravel/public/build
app-laravel/public/fonts-manifest.dev.json
app-laravel/public/hot
app-laravel/public/storage
app-laravel/storage/*.key
app-laravel/storage/pail
app-laravel/storage/phpstan
app-laravel/vendor
app-laravel/_ide_helper.php
app-laravel/Homestead.json
app-laravel/Homestead.yaml
app-laravel/database/database.sqlite
Thumbs.db


.claude
docs/superpowers
*.sql
docs/INSTRUCCIONES_SETUP_ENTORNO.md